RewriteEngine On

# Rediriger de reservation.php?id=XXX vers reserv/XXX
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /reservation\.php\?id=([0-9]+)\ HTTP/
RewriteRule ^reservation\.php$ /reserv/%1? [L,R=301]

# Rediriger de /gestion vers /admin/admin.php
RewriteRule ^gestion$ /var/www/sae202/admin/admin.php

# Réécrire de reserv/XXX vers reservation.php?id=XXX
RewriteRule ^reserv/([0-9]+)$ /reservation.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]