
main{
    margin-top: 5.5vh;
    font-family: 'Roboto', sans-serif;
}

/* Header */

nav{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 1.5vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 5.5vh;
}

.ele-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.ele-nav a, .ele-nav .util-info a{
    color: white;
    text-decoration: none;
}

.util-info a{
    margin: 2vw;
}

.header-p-white{
    color: white;
}

/*////////////////////////////////////////////////*/

/* Footer */

footer{
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.5vh;
}

footer a{
    color: white;
    text-decoration: none;
}