@font-face {
    font-family: "Magison";
    src: url("https://d3ller.github.io/sae202-font/Magison.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;

}

#card-lister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#profil-pic {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-family: "Magison";
    font-weight: 400;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#edit {
    background-image: url("https://portfolio.karibsen.fr/assets/img/crayon.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

#edit-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#profil  {
    width: 100%;
    height: 250px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background: #ffab02;
}

.grey {
    text-align: center;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}

.greys {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}

#preference {
    margin: 0 20px;
    margin-top: 20px;
}

.pref {
    margin-bottom: 20px;
}

.pref > div {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
justify-items: stretch;
}

.subtitle {
    text-align: left;
    font-size: 18px;
    font-family: "Magison", sans-serif;
}

.title {
    text-align: left;
    font-size: 24px;
    font-family: "Magison", sans-serif;
}

.subpref {
    display: flex;
    gap: 20px;
}

.cb {
    width: 100px;
}

#buttons {
    margin: 0 20px;
}

.button {
    margin-bottom: 20px;
}

.button > a > button {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    /* background-color: rgb(157, 157, 157); */
    color: rgb(157, 157, 157);
    border-radius: 5px;
    border: 3px black solid;

}

.button > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
}

.button > a > button > img {
    max-width: 25px;
    max-height: 25px;
    width: 25px;
    height: 25px;
    object-fit: cover;
}



.subpref > input[type="checkbox"] {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #ffab02;
}


