@font-face {
    font-family: "Magison";
    src: url("https://d3ller.github.io/sae202-font/Magison.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;

}

header{
    display: none;
}

#card-lister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#profil-pic {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#mod-profil-pic{
    background-color: transparent;
}

h1 {
    text-align: center;
    font-family: "Magison";
    font-weight: 400;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#edit {
    background-image: url("https://portfolio.karibsen.fr/assets/img/crayon.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

#edit-name {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#profil  {
    width: 100%;
    height: 250px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background: #ffab02;
}

#profil-mod{
    height: 310px;
    width: 100%;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background: #ffab02;
}

.grey {
    text-align: center;
    font-size: 14px;
    font-family:'Magison', sans-serif;
}

.greys {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}

#preference {
    margin: 0 20px;
    margin-top: 20px;
}

.pref {
    margin-bottom: 20px;
}

.pref > div {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
justify-items: stretch;
}

.subtitle {
    text-align: left;
    font-size: 18px;
    font-family: "Magison", sans-serif;
}

.title {
    text-align: left;
    font-size: 24px;
    font-family: "Magison", sans-serif;
}

.subpref {
    display: flex;
    gap: 20px;
}

.cb {
    width: 100px;
}

#buttons {
    margin: 0 20px;
}

.button {
    margin-bottom: 20px;
}

.button > a > button {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: rgb(157, 157, 157);
    border-radius: 5px;
    border: 3px black solid;
    box-shadow: 5px 5px 0px 0px black;
    transition: background-color 0.25s ease-in-out;
}

.button > a > button:hover {
    background-color: rgb(255, 255, 255);
}

.button > a > button:active {
    animation: click 0.1s ease-in-out;
}

@keyframes click {
    0% {
        transform: translate(0px, 0px);
        box-shadow: 5px 5px 0px 0px black;
    }
    50% {
        transform: translate(5px, 5px);
        box-shadow: none;
    }
    100% {
        transform: translate(0px, 0px);
        box-shadow: 5px 5px 0px 0px black;
    }
}

.button > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
}

.button > a > button > img {
    max-width: 25px;
    max-height: 25px;
    width: 25px;
    height: 25px;
    object-fit: cover;
}



.subpref > input[type="checkbox"] {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #ffab02;
}


/*  */

.input-modif{
    position: relative;
    width: 45%;
}

.label-input-modif{
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 14px;
    color: #000000c0;
    transition: all 0.2s ease-in-out;
    font-family: 'Magison', sans-serif;
}

.input-modif input,
.input-modif textarea{
    border: none;
    border-bottom: 2px solid #000000;
    text-indent: 10px;
    outline: none;
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.i-mod-2{
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
}

.l-i-m-2{
    color: #ffab02;
}

/* file input */
.custom-file-input {
    color: transparent;
    margin: 0 auto;
    display: block;
    height: 47px;
    width: 60%;
    margin-top: 10px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
  
.custom-file-input::before {
    content: "Modifier la photo de profil";
    color: #000000;
    font-family: 'Magison', sans-serif;
    display: inline-block;
    background: #ffdd98;
    height: 100%;
    width: 96%;
    text-align: center;
    line-height: 35px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    outline: none;

    height: 35px;
    border-radius: 15px;
    box-shadow: 5px 5px 0px 0px black;
    border: 2px solid black;
    transition: all 0.25s ease-in-out;
}

.custom-file-input:focus::before  {
    outline: none !important;  
    box-shadow: 5px 5px 0px 0px black;
}

.custom-file-input:active::before {
    box-shadow: none;
    transform: translate(5px, 5px);   
}

/* Bouton submit */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

.sub{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

button.expand {
	--button-height: 48px;
	overflow: hidden;
	outline: none;
	background-color: #ffab02;
	border-radius: 10px;
	padding: 12px 25px;
	font-size: 1.1em;
	border: none;
	color: white;
	font-family: 'Magison', sans-serif;
	cursor: pointer;
	position: relative;
	transition: padding 0.3s;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
}

.expand-icon {
	--icon-size: 12px;
	height: 100%;
	position: absolute;
	top: -2px;
	right: 0;
	height: var(--button-height);
	width: var(--button-height);
	border-left: 1px solid #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(calc(var(--button-height) + 1px));
	transition: transform 0.3s;
}

.expand-icon > svg {
	height: var(--icon-size);
	width: var(--icon-size);
	transform: scale(1.5);
	transition: transform 0.3s;
}

.expand-icon > svg.second {
	display: none;
	transform: scale(0) translateY(50px);
	transition: transform 0.3s;
}

button.expand:hover,
button.expand.loading {
	padding-right: calc(25px + var(--button-height));
}

button.expand:hover > .expand-icon,
button.expand.loading > .expand-icon {
	transform: translateX(0);
	transition: transform 0.3s 0.05s;
}

button.expand.loading > .expand-icon > svg {
	transform: scale(0);
}

@keyframes rotate {
	0% {
		transform: scale(0.3) rotateZ(0deg);
	}
	100% {
		transform: scale(0.3) rotateZ(360deg);
	}
}

.loader {
	--loader-size: 52px;
	height: var(--loader-size);
	width: var(--loader-size);
	border: 4px solid white;
	border-left-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
	border-radius: 50%;
	animation: rotate 1.5s linear infinite;
	position: absolute;
	right: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s 0.3s;
}

button.expand.loading > span > span.loader {
	opacity: 1;
}

button.expand.loaded > span > span.loader {
	opacity: 0 !important;
}

button.expand.loaded > .expand-icon > svg.first {
	display: none;
}

button.expand.loaded > .expand-icon > svg.second {
	display: block;
}

button.expand.finished > .expand-icon > svg.second {
	transform: scale(1.5) translateY(0px);
}



@media screen and (min-width: 1024px){
    header{
        display: flex;
    }

    main{
        margin-top: 0;
    }

    #profil {
        height: 375px;
        padding-top: 125px;
    }

    .grey {
        font-size: 22px;
    }

    .cstm{
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .param{
        display: none;
    }
    
}