.container-conducteur {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
}

.container-conducteur > .conducteur-text > h1 {
    font-family: "Magison", sans-serif;
    font-size: 4.171875vw;
}

.container-conducteur > img {
    width: 25.416667vw;
    height: 25.416667vw;
    border-radius: 50%;
}

.container-reservation {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.container-conducteur > .conducteur-text > p:first-of-type {
    font-family: "Magison", sans-serif;
    font-size: 2.34375vw;
    text-align: left;

}

.bold  {
    font-weight: bold;
    font-family: "Magison", sans-serif;
}

main {
    margin: 0 20px;
}

.resa-button{
    text-decoration: none
}

.btn-reservation{
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 0px black;
    border-radius: 200px;
    margin-top: 20px;
}

.btn-reservation:focus{
    animation: press 0.25s linear forwards;
}


@keyframes press{
    0% {
      transform: translate(0px, 0px);
      box-shadow:4px 4px 0px rgb(0, 0, 0);
    }
    50%{
      transform: translate(4px, 4px);
      box-shadow:0px 0px 0px rgb(0, 0, 0);
    }
    100%{
      transform: translate(0px, 0px);
      box-shadow:4px 4px 0px rgb(0, 0, 0);
    }
  }
  
